<div class="container visible-lg">
  <div class="row">
    <div class="col-md-5">
      <%= render partial: 'storedetails' %>
    </div>
    <div class="col-md-4">
      <div style="padding-left: 20px;"><%= render partial: 'map' %></div>
    </div>
  </div>
</div>

<div class="container visible-md">
  <div class="row">
    <div class="col-md-5">
      <%= render partial: 'storedetails' %>
    </div>
    <div class="col-md-4">
      <%= render partial: 'map' %>
    </div>
  </div>
</div>

<div class="container visible-sm visible-xs">
  <div class="row">
    <div class="col-md-5">
      <%= render partial: 'storedetails' %>
    </div>
    <div class="col-md-4">
      <div style="padding-top: 20px;"><%= render partial: 'map' %></div>
    </div>
  </div>
</div>